# NetBeans
nbproject/
nbproject/private/

# Archivos compilados
*.class
build/
dist/

# JAR
*.jar
!lib/*.jar

# IDE
manifest.mf
*.iml
.idea/
.vscode/

# Datos grandes (descargar del TSE manualmente)
datos/PADRON.txt
